.ihazspam_incomingmail {
    padding: 0.5em;
}
.ihazspam_incomingmail:hover {
    cursor: pointer;
    background: #e0e0e0;
}
.ihazspam_incomingmail:active {
    cursor: pointer;
    background: #d0d0d0;
    padding: 0.6em 0.4em 0.4em 0.6em;
}

img.svg_icon_small {
    width: 1.1em !important;
    height: 1.1em !important;
    margin-right: 0.5em !important;
}
img.svg_icon_big {
    width: 2em !important;
    height: 2em !important;
    margin-right: 0.5em !important;
}